
/*GENERAL*/

/*colors*/

 .resBlueColor {
	color: #2fbbdc;
}

/*positioning*/

.marginRight20 {
	margin-right: 20px;
}

/*OVERRIDES*/

/*tabs*/
.tab-content {
	border: 1px solid #dddddd;
	border-top: none;
}

/*grid*/

tcd-jqgrid div.ui-jqgrid {
	border-radius: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #53acd5;
	color: #fff;
	border-radius: 0;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	background: #a5d3e9;
	border: 1px solid #53acd5;
	color: #fff;
}

.ui-jqgrid .ui-jqgrid-htable th {
	height: 35px;
	font-size: 13px;
}

/*print*/

.printFooter {
	border-top: 1px solid #ddd;
	position: absolute;
	display: block;
	bottom: 0;
	left:0;
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0;
	float: left;
}

#printDate {
	margin-top: 20px;
	margin-right: 10px;
}

#printLogo {
	margin-top: 10px;
	margin-left: 10px;
}

@media print {

	
	body, html {
		margin: 0;
		padding: 0;
		height: 100%;
	}
	
	ul.nav-tabs{
		display: none !important;
	}

	.tab-content {
		border: none !important;
	}

	tcd-jqgrid div.ui-jqgrid {
		margin-top: -39px;
		border-bottom: none;
	}

	div.ui-jqgrid-bdiv {
		overflow: hidden !important;
	}

	.ui-jqgrid tr.jqgrow {
		border-left: none;
	}

	.ui-state-hover,
	.ui-widget-content .ui-state-hover,
	.ui-widget-header .ui-state-hover,
	.ui-state-focus,
	.ui-widget-content .ui-state-focus,
	.ui-widget-header .ui-state-focus {
		border: 1px solid #ddd !important;
	}

	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		border-right: 1px solid #ddd;
		border-bottom: none !important;
	}

	.ui-jqgrid .ui-jqgrid-htable th:last-child {
		border-right: none;
	}
}
