@media print {

	body {
		margin: 0 !important;

	}

	ul.nav-tabs{
		display: none !important;
	}

	.tab-content {
		border: none !important;
	}

	tcd-jqgrid div.ui-jqgrid {
		margin-top: -39px;

	}
}

